<html>
 <head>
 <style type="text/css">
 body {
    background: black;
    color: white;
 }
 div.container {
    max-width: 500px;
    margin: 100px auto;
    border: 20px solid white;
    padding: 10px;
    text-align: center;
 }
 h4 {
 text-transform: uppercase;
 }

 #images {
     width: 400px;
     height: 400px;
     overflow: hidden;
     margin: 0 auto;
 }
 #images img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 </style>
 </head>
 <body>
    <div class="container">
        <h4>Animals without necks</h4>
        <div id="images">
        <img src="{{url}}" />
        </div>
        <p><small>Courtesy: <a href="http://www.buzzfeed.com/copyranter/the-best-cat-gif-post-in-the-history-of-cat-gifs">Buzzfeed</a></small></p>
    </div>
 </body>
</html>
